  config.vm.define "minikube" do |minikube|
    minikube.vm.box = "generic/ubuntu2204"
    minikube.vm.hostname = "minikube.local"
    minikube.vm.network "private_network", ip: "${ipMap.minikube}"
    minikube.vm.provision "shell", path: "scripts/minikube.sh"
  end
