  config.vm.define "jenkins" do |jenkins|
    minikube.vm.box = "generic/ubuntu2204"
    minikube.vm.hostname = "jenkins.local"
    minikube.vm.network "private_network", type: "dhcp"
    minikube.vm.provision "shell", path: "scripts/jenkins.sh"
  end